<div class="hero min-h-screen" style="background-image: linear-gradient(to left, #ed67f9, #f97dee, #ff93e6, #ffa9e2, #ffc0e1);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <div class="hero min-h-screen">
        <div class="hero-content flex-col lg:flex-row">
          <div class="text-center lg:text-right m-10">
            <h1 class="text-5xl font-bold">Sign up</h1>
          </div>
          <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)"class="card-body">
              <div class="form-control">
                <label class="label">
                  <span class="label-text">Email</span>
                </label>
                  <input name="email" ngModel type="email" placeholder="email" class="input input-bordered text-black" required />
              </div>
              <div class="form-control">
                <label class="label">
                  <span class="label-text">Username</span>
                </label>
                <input ngModel type="text" name="username" placeholder="username" class="input input-bordered text-black" required />
              </div>
              <div class="form-control">
                <label class="label">
                  <span class="label-text">Password</span>
                </label>
                <input ngModel name="password" type="password" placeholder="password" class="input input-bordered text-black" required />
                <label class="label">
                  <a href="#" class="label-text-alt link link-hover">Login</a>
                </label>
              </div>
              <div class="form-control mt-6">
                <button class="btn btn-outline hover:bg-fuchsia-950">Sign up</button>
              </div>
                <div *ngIf="(f.value.password === '' || f.value.email === '' || f.value.pseudo === '') && submit" class ="my-2">
                    <app-alert type="warning" message="Warning: A field is missing"></app-alert>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
