@defer (when getChatIsLoaded()) {
    <div id="scroll" class="h-screen flex flex-col w-full relative">
        <div class="sticky top-0 bg-white navbar justify-center h-20 z-10 shadow">
            <a class="font-bold text-xl">{{ correspondant.username }}</a>
        </div>
        <div class="mx-5 flex flex-col overflow-y-scroll pt-2 mb-16">
            @for (message of messages; track message) {
                @if (message.sender_id == loggedUserId) {
                    <div class="group chat chat-end flex flex-col">
                        <div class="chat-bubble bg-fuchsia-600 text-white before:hidden">{{ message.content }}</div>
                        <div class="hidden group-hover:block"> {{message.timestamp | date : "shortTime" }} </div>
                    </div>
                }
                @else {
                    <div class="group chat chat-start flex flex-col">
                        <div class="chat-bubble bg-fuchsia-800 text-white before:hidden">{{ message.content }}</div>
                        <div class="hidden group-hover:block"> {{message.timestamp | date : "shortTime" }} </div>
                    </div>
                }
            }
        </div>
        <form #f="ngForm" (ngSubmit)="onSubmitMessage(f)" class="absolute flex bottom-2 align-middle w-full mb-2">
            <input ngModel type="text" name="message" id="message" class="mx-2 input w-full input-bordered" required>
            <button type="submit" class="btn mr-2 bg-fuchsia-600 text-white hover:bg-fuchsia-900">envoyer</button>
        </form>
    </div>
}
@placeholder {
    <div class="flex align-middle justify-center h-screen">
        <span class="loading loading-dots loading-lg"></span>
    </div>

}

